@using Microsoft.AspNetCore.Identity

@model MindScribe.ViewModels.UserViewModel
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "User";
}

<div >
    <h2 >@Model.User.LastName @Model.User.FirstName</h2>
    <div >
        <div class="d-flex">
            <div>
                <div>
                    <img src="@Model.User.Image" class="img-fluid" />
                    <div class="mt-2">
                        <form method="get" asp-controller="AccountManager" asp-action="Edit">
                            <input class="btn btn-primary btn-block w-100" type="submit" value="Редактировать" />
                        </form>
                    </div>
                    @if (User != null && User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <div class="mt-2">
                            <form method="get" asp-controller="AccountManager" asp-action="AdminPanel">
                                <input class="btn btn-warning btn-block w-100" type="submit" value="Панель администратора" />
                            </form>
                        </div>
                        <div class="mt-2">
                            <form method="get" asp-controller="Role" asp-action="Role">
                                <input class="btn btn-secondary w-100" type="submit" value="Роли" />
                            </form>
                        </div>
                    }
                </div>
            </div>
            <div class="user-about-wrapper p-3 w-100">
                <div class="user-about">
                    <hr class="horizon-line">
                    <div class="text-color-gray">О себе: <span class="text-color-black">@Model.User.About</span></div>
                    <div class="text-color-gray">Email: <span class="text-color-black">@Model.User.Email</span></div>
                    <div class="text-color-gray">
                        Роль: <span class="text-color-black">
                            @foreach (var role in await UserManager.GetRolesAsync(Model.User))
                            {
                                @role <br />
                            }
                        </span>
                    </div>
                    <hr class="horizon-line">
                </div>
                <div>
                    <div class="d-flex">
                        <div>
                            <label class="gray-text">Список статей пользователя:</label>

                            @if (Model.Articles != null && Model.Articles.Count != 0)
                            {
                                <div class="mt-1 d-flex flex-wrap">
                                    @foreach (var article in @Model.Articles)
                                    {
                                        <div class="text-center">
                                            <img src="img/article.svg" class="w-25"/>
                                            <div class="mrgn center-align">
                                                <a asp-controller="Article" asp-action="Index" asp-route-id="@article.Id">@article.Title</a>
                                            </div>
                                            <div class="mrgn center-align mt-1">
                                                <form asp-controller="Article" asp-action="ArticleEdit" asp-route-id="@article.Id" method="post">
                                                    <input type="submit" class="btn btn-sm btn-primary" value="Редактировать" />
                                                </form>
                                            </div>
                                            <div class="mrgn center-align mt-1">
                                                <form asp-controller="Article" asp-action="DeleteArticle" method="post">
                                                    <input type="hidden" name="id" value="@article.Id" />
                                                    <input type="submit" class="btn btn-sm btn-danger" value="Удалить" />
                                                </form>
                                            </div>
                                        </div>
                                    }
                                </div>

                            }
                            else
                            {
                                <div>
                                    <label> У вас пока нет своих работ.</label>
                                </div>
                            }

                        </div>
                    </div>
                    <hr class="horizon-line">
                </div>
                <div>
                    <form method="get" asp-controller="Article" asp-action="NewArticle">
                        <input class="btn btn-success" type="submit" value="Создать статью" />
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>